[submodule "plugins/hyper-html-log"]
	path = external-plugins/hyper-html-log
	url = git@github.com:naclomi/hyper-html-log.git
[submodule "plugins/terminator-html-log"]
	path = external-plugins/terminator-html-log
	url = git@github.com:naclomi/terminator-html-log.git
[submodule "external-plugins/jupyterlab-terminal-html-log"]
	path = external-plugins/jupyterlab-terminal-html-log
	url = git@github.com:naclomi/jupyterlab-terminal-html-log.git
